$breakpoint-mobile-sm: 370px;
$breakpoint-mobile: 560px;
$breakpoint-tablet-sm: 768px;
$breakpoint-tablet-md: 1024px;
$breakpoint-tablet-lg: 1200px;

$breakpoint-desktop-sm: 1360px;
$breakpoint-desktop: 1440px;

//or store here something like
//$header-height: 48px;
