.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.container-md {
  max-width: 960px;
  padding: 0 16px;
  margin: 0 auto;
}

.container-sm {
  max-width: 540px;
  padding: 0 16px;
  margin: 0 auto;
}